.dlx-photo-block__upload-target__container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 250px;
	width: 100%;
	border: 4px dashed #c3c4c7;
	margin-top: 15px;

	.dlx-photo-block__upload-target__label {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.dlx-photo-block__upload-target__label-svg {
		margin-bottom: 15px;
		svg {
			height: 36px;
			width: 36px;
		}
	}
	.dlx-photo-block__upload-target__label-text {
		width: 100%;
		text-align: center;
		font-size: 1.2em;
	}

	.filepond--browser {
		display: none;
	}
	.dlx-photo-block__upload-target__filepond {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
	.dlx-photo-block__upload-target__label {
		position: relative;
		z-index: 2;
		pointer-events: none;
	}
	.filepond--wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.filepond--drop-label {
		position: absolute;
		cursor: pointer;
		width: 100%;
		height: 100%;
	}

	ul.filepond--list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		background: #FFF;
	}
}