.dlx-photo-block__upload-types__container {
	button.components-button {
		margin-right: 8px;

		&.has-icon {
			padding: 15px 20px;
		}
		

		&:last-of-type {
			margin-right: 0;
		}
	}
	button.dlx-photo-block__upload-types__back.components-button {
		color: #FFF;
	}
}

.dlx-photo-block__upload-types-url__container {
	display: grid;
	grid-template-columns: 1fr 75px 75px;
	grid-gap: 8px;

	input[type="url"] {
		display: inline-block;
		min-height: 40px;
	}

	label {
		position: absolute;
		left: -9999px;
		clip: rect( 0 0 0 0 );
	}
	button.components-button {
		margin-right: 8px;
		min-width: unset;
		height: 30px;
		margin-left: 4px;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		&.has-icon {
			padding: 20px 20px;
		}

		&.dlx-photo-block__upload-types-url__upload {
			color: #FFFFFF;
		}
		

		&:last-of-type {
			margin-right: 0;
		}
	}
}