.dlx-photo-block__css-gram-image-popover-wrapper {
	min-width: 400px;
	padding: 15px;
	border: 1px solid #ddd;
}
.dlx-photo-block__css-gram-button-group {
	padding-right: 25px;
	.components-button-group {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 15px;
		row-gap: 15px;
	}
}
.dlx-photo-block__css-gram-image-popover {
	position: absolute !important;
}