/*
 * photo-block-moon
 *
 */
@import 'shared';

// mixin to extend photo-block-moon filter
// @mixin photo-block-moon
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include photo-block-moon;
//   }
//   or
//   img {
//     @include photo-block-moon(blur(2px));
//   }
//   or
//   img {
//     @include photo-block-moon(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin photo-block-moon($filters...) {
  @include filter-base;
  filter: grayscale(1) contrast(1.1) brightness(1.1) $filters;

  &::before {
    background: rgb(160, 160, 160);
    mix-blend-mode: soft-light;
  }

  &::after {
    background: rgb(56, 56, 56);
    mix-blend-mode: lighten;
  }

  @content;
}

// photo-block-moon Instagram filter
%photo-block-moon,
.photo-block-moon {
  @include photo-block-moon;
}
