/*
 *
 * photo-block-toaster
 *
 */
@import 'shared';

// mixin to extend photo-block-toaster filter
// @mixin photo-block-toaster
// @param $filters... {filter} - Zero to many css filters to be added
// @example
//   img {
//     @include photo-block-toaster;
//   }
//   or
//   img {
//     @include photo-block-toaster(blur(2px));
//   }
//   or
//   img {
//     @include photo-block-toaster(blur(2px)) {
//       /*...*/
//     };
//   }
@mixin photo-block-toaster($filters...) {
  @include filter-base;
  filter: contrast(1.5) brightness(.9) $filters;

  &::after {
    background: radial-gradient(circle, rgb(128, 78, 15), rgb(59, 0, 59));
    mix-blend-mode: screen;
  }

  @content;
}

// photo-block-toaster Instagram filter
%photo-block-toaster,
.photo-block-toaster {
  @include photo-block-toaster;
}
