/* Typography Control */
.photo-block-typography-picker {
	padding: 0;

	> .components-base-control__field {
		overflow: hidden;
	}

	.components-base-control {
		padding-bottom: 0 !important; // override core styles.
		margin-bottom: 0 !important; // override core styles.
	}
	.components-base-control__field {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.photo-block-typography-picker__row {
		margin-bottom: 10px;
	}

	.photo-block-typography-picker__row__col-2 { /* there's a hidden div that has zero space */
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		align-items: end;

		.photo-block-typography-picker__row_item.photo-block-units {
			display: grid;
			grid-template-columns: 75px 0 36px;
			column-gap: 0;
			align-items: end;

			.components-button {
				font-size: 13px;
				line-height: normal;
				padding: 6px 8px;
				max-height: 30px;
			}
		}
		
	}
}

/* Popover unit picker for typography */
.photo-block-component-font-unit-picker {
	.components-popover__content {
		min-width: 48px;
		background: #FFF;
		outline: unset;
		border: 1px solid #333;

		.components-button {
			width: 100%;
			font-size: 13px;
			padding: 6px 8px;
			margin: 0;
			box-shadow: unset;
			justify-content: center;
			border-bottom: 1px solid #dadada;
			outline: unset;

			&:last-child,
			&.is-primary {
				border-bottom: 0;
			}
		}
	}
}

/* Typography row */
.photo-block-typography-panel-row {
	display: block;
}
.photo-block-typography-picker-wrapper > div {
	

	.photo-block-typography-component-label {
		font-size: 13px;
	}

	.photo-block-typography-component-settings {
		display: flex;
		justify-content: flex-end;
	}

	.components-button:not(.dlx-photo-block__heading-icon-responsive-icon) {
		font-size: 13px;
		padding: 6px 8px;
		margin: 0;
		margin-top: 16px;
		outline: unset;
	}

	.dashicon {
		display: flex;
		width: 25px;
		justify-content: center;
		align-items: center;

		&:before {
			font-size: 1.4rem;
		}
	}
}
.photo-block-component-typography-popup {
	min-width: 250px;
	max-width: 250px;

	.components-popover__content {
		width: unset;
	}
}