.dlx-photo-block__container {
	font-size: 16px;
}
.block-editor-block-icon svg.lucide,
svg.lucide {
	fill: none;
	color: currentColor;
}
.dlx-photo-block__container {
	
	.PinturaRootWrapper {
		height: 100vh;
		max-height: 650px;
	}
	button.PinturaButton.PinturaButtonExport {
		box-shadow: unset;
		background: var( --wp-admin-theme-color );
		color: #fff;
		font-size: 16px;
		font-weight: 600;
	}
	.PinturaRoot .PinturaStage {
		min-width: 80%;
		max-width: 80%;
		width: 100%;
		align-self: center;
	}
	.PinturaUtilMain {
		justify-content: center;
		align-items: center;
	}
	.PinturaUtilMain > div {
		width: 100%;
	}
}

.dlx-screen-initial {

	.dlx-photo-block__container {
		padding: 15px;
		padding-right: 25px;
	}
}