.photo-block-background-gradient,
.photo-block-background-gradient-sync,
.photo-block-background-gradient-generator{
	display: block;
}
.photo-block-component-gradient-picker-wrapper > div,
.photo-block-component-gradient-sync-wrapper > div,
.photo-block-component-gradient-generator-wrapper > div{
	display: grid;
	grid-template-columns: 1fr 30px;
	align-items: center;

	h3 {
		margin-bottom: 0;
	}
}
.photo-block-component-gradient-picker {
	display: inline-block;
	height: 28px;
	width: 28px;
	vertical-align: top;
	transition: 100ms transform ease;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px !important;

	&:hover {
		transform: scale(1.1);
	}
}
.photo-block-component-gradient-picker-popover {
	.components-popover__content {
		min-width: 300px;
		padding: 10px;
	}
}