.dlx-photo-block__media-link-popover {
	

	.components-popover__content {
		padding: 15px;
		min-width: 400px;
	}
	.components-base-control {
		margin-bottom: 0;
	}
	.components-base-control__field {
		margin-bottom: 0;
	}
	.components-base-control__help {
		margin-bottom: 0;
	}
}
.dlx-photo-block__media-link-container {
	h2 {
		margin-top: 0;
	}
}

.dlx-photo-block__media-link-button-group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 8px;
	align-items: center;
	margin-bottom: 15px;
	
	.components-button.has-icon {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-gap: 8px;
		align-items: center;
		text-align: left;
		padding: 0 15px;

		.dlx-photo-block__media-link-button-text {
			order: 1;
		}
		svg {
			margin: 0;
			order: 2;
		}
	}
}