.photo-block__caption-position-popover {
	svg {
		fill: none;
	}
}
.photo-block__remove-caption-modal {
	button {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.dlx-photo-block__caption-align-toolbar-buttons {
	.is-pressed {
		svg {
			color: #FFFFFF;
		}
	}
}
.dlx-photo-block__overlay-background-gradient-randomize {
	margin-bottom: 10px;
	width: 100%;
	justify-content: center;
}