.dlx-photo-block__aspect-ratio-group {
	svg {
		fill: none;
	}
}
.dlx-photo-block__lock-crop-button.is-pressed svg {
	color: #FFFFFF;
}

.dlx-photo-block__zoom-popover .components-popover__content {
	min-width: 250px;
	padding: 15px;
}

.dlx-photo-block__save-button.is-saving {
	svg {
		animation: photo-block-pub-spin;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}
.dlx-photo-block__toolbar-back-button {
	box-shadow: none !important; /* override core style */
	border-right: 1px solid #333;
	height: unset;
	display: flex;
	align-items: center;
	height: 100%;
}
.dlx-photo-block__aspect-ratio-dropdown button {
	height: 100%;
}
.dlx-photo-block__aspect-ratio-dropdown button:after {
	content: attr(aria-label);
	display: block;
	align-items: center;
	margin-left: 8px;
}
.dlx-photo-block__aspect-ratio-dropdown button {
	text-transform: capitalize;
}