.dlx-photo-block__upload-status {
	button.components-button {
		margin-right: 8px;

		&.has-icon {
			padding: 15px 20px;
		}
		

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.dlx-photo-block__loading-spinner {
	display: none;
}
.is-layout-small .dlx-photo-block__loading-spinner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 12px;

	h2 {
		font-size: 1.2rem;
		margin-bottom: 10px;
	}
}