.dlx-photo-block__screen-edit {
	display: flex;
	flex-wrap: wrap;

	.dlx-photo-block__screen-edit-spinner {
		width: 100%;
		text-align: center;
	}
	svg.components-spinner {
		width: 36px;
		height: 36px;
	}
}
.aligncenter .dlx-photo-block__screen-edit {
	justify-content: center;
}
.alignleft .dlx-photo-block__screen-edit {
	justify-content: flex-start;
}
.alignright .dlx-photo-block__screen-edit {
	justify-content: flex-end;
}

.dlx-photo-block__a11y-popover {
	min-width: 325px;
	padding: 15px;
	padding-top: 0;
}

.dlx-photo-block__screen-edit-image-wrapper {
	position: relative;
	display: block;
}
.dlx-photo-block__inspector-tabs {
	button.components-tab-panel__tabs-item {
		flex: 1 1 0px;

		&:after {
			background: #DDD;
			border-radius: 0;
			bottom: 0;
			content: "";
			height: 1.5px;
			left: 0;
			pointer-events: none;
			position: absolute;
			right: 0;
			transition: all .1s linear;
		}
		&.active-tab {
			&:after {
				background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
			}
		}
	}
}
.dlx-photo-block__image-dimensions-row {
	h3 {
		margin: 0;
		margin-bottom: 8px;
	}
	p {
		margin-bottom: 0;
	}
}
.photo-block__inspector-panel {
	.components-panel__body-title {
		svg {
			fill: none;
			margin: 0;
			margin-right: 8px;
		}

		& > .components-button {
			justify-content: flex-end;
			flex-direction: row-reverse;
		}
	}
	
}
.dlx-photo-block__image-dimensions-row {
	display: block;
	h2 {
		width: 100%;
		margin: 0;
		margin-bottom: 8px;
	}
	.dlx-photo-block__image-dimensions {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
		margin-bottom: 15px;

		.components-base-control {
			margin-bottom: 0;
		}
		.components-base-control__field {
			margin-bottom: 0;
		}
	}
}