.dlx-photo-block__screenshot-one__logo {
	margin-top: 16px;
	margin-bottom: 16px;
}
.dlx-photo-block__screenshot-one__logo__mark {
	margin-right: 0.5em;
}
.dlx-photo-block__screenshot-one__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dlx-photo-block__screenshot-one__actions {
	button.components-button {
		margin-right: 8px;
	
		&.has-icon {
			padding: 18px 20px;
		}
		
	
		&:last-of-type {
			margin-right: 0;
		}
	}
}
.dlx-photo-block__screenshot-one__container {
	.components-panel__body {
		border: 1px solid #e0e0e0;
	}
	
	.components-panel__body-toggle {
		border: 0;
		border-bottom: 1px solid #e0e0e0;
		box-shadow: none;
		color: #1e1e1e;
		font-weight: 500;
		height: auto;
		outline: none;
		padding: 16px 48px 16px 16px;
		position: relative;
		text-align: left;
		width: 100%;
	}
}

.dlx-photo-block__panel-row {
	margin-bottom: 16px;
}

.dlx-photo-block__panel-advanced {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	margin-top: 16px;
}