.photo-block-global-styles-selected {
	background: #f5f5f5;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 1fr 36px;
	align-items: center;
}
.photo-block-global-styles-selected-title {
	padding: 16px 8px;
}